In [64]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [65]:
dataFrame = pd.read_csv("hiring.csv")
dataFrame

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [66]:
#Rename columns
dataFrame.columns = ['Experience_Level', 'Test_Marks', 'Interview_Results', 'Earnings']
dataFrame

  Experience_Level  Test_Marks  Interview_Results  Earnings
0              NaN         8.0                  9     50000
1              NaN         8.0                  6     45000
2             five         6.0                  7     60000
3              two        10.0                 10     65000
4            seven         9.0                  6     70000
5            three         7.0                 10     62000
6              ten         NaN                  7     72000
7           eleven         7.0                  8     80000

In [67]:
#Data Preprocessing
import math
roundedValue = math.floor(dataFrame.Test_Marks.median())
roundedValue

dataFrame.Test_Marks = dataFrame.Test_Marks.fillna(roundedValue)
dataFrame.Experience_Level = dataFrame.Experience_Level.fillna('zero')

# Create a mapping for text to numerical values
experience_mapping = {
    'zero' : 0,
    'five': 5,
    'two': 2,
    'seven': 7,
    'three': 3,
    'ten': 10,
    'eleven': 11
}

# Apply the mapping
dataFrame['Experience_Level'] = dataFrame['Experience_Level'].replace(experience_mapping)
dataFrame
print(dataFrame.dtypes)

Experience_Level       int64
Test_Marks           float64
Interview_Results      int64
Earnings               int64
dtype: object

C:\Users\rohit\AppData\Local\Temp\ipykernel_20460\1474329270.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataFrame['Experience_Level'] = dataFrame['Experience_Level'].replace(experience_mapping)

In [68]:
#Create Model
model = linear_model.LinearRegression()
#Train Model
model.fit(dataFrame[['Experience_Level', 'Test_Marks','Interview_Results']], dataFrame.Earnings)
#Predict
prediction = model.predict([[12, 7, 8]])
prediction

d:\Projects\Anaconda_Installed\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([82054.58515284])

In [69]:
#Coeficients
model.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [70]:
#Intercept Value
model.intercept_

17737.26346433771

In [71]:
calculatedValue =  2812.95487627*12 + 1845.70596798*7 + 2205.24017467*8 + 17737.26346433771
print("Manual check:", calculatedValue)
print("Model Value", prediction)

Manual check: 82054.5851527977
Model Value [82054.58515284]